---
accent-color: "#8A8987"
background-color: "#F6F4F0"
background-color2: "#FFF"
border-color: "#999896"
border-color2: "#FFF"
font-family: "\"Helvetica Neue\", Arial, Helvetica, sans-serif,
\"Helvetica Neue\", HelveticaNeue, Arial, sans-serif"
content-font-size: "1.5rem"
margin: "5rem"
text-color: "#000"
---
{% include styles/reset.css %}
{% include styles/layout.css %}
