/* layout.css */
html {
	/* make 1em or 1rem be 10px */
	font-size: 62.5%
}

body {
	background-color: {{page.background-color}};
	color: #000;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif,
		"Helvetica Neue", HelveticaNeue, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1;
	min-width: 37rem;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.page-ruler {
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,{{page.border-color}} 8%,{{page.border-color}} 92%,rgba(0,0,0,0) 100%);
	height: .1rem;
	margin: 4rem auto;
	max-width: 80rem;
}

.title-ruler {
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,{{page.border-color}} 8%,{{page.border-color}} 92%,rgba(0,0,0,0) 100%);
	border: none;
	height: .1rem;
	margin: 2.4rem auto {{page.margin}};
	overflow: visible;
	text-align: center;
}

.title-ruler::before {
	background: {{page.border-color2}};
	border: .1rem solid {{page.border-color}};
	border-radius: 50%;
	color: {{page.border-color}};
    content: "§";
    display: inline-block;
	font-size: 2rem;
	height: 3rem;
    position: relative;
	top: -1.3rem;
	width: 3rem;
}

.title-ruler::after {
    content: "";
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,{{page.border-color}} 8%,{{page.border-color}} 92%,rgba(0,0,0,0) 100%);
	display: block;
    height: 0.1rem;
    margin: -2.8rem auto;
}

#page-header { margin: {{page.margin}} auto; }

#page-header > h1 {
	font-size: 4.2rem;
	margin-bottom: 1.8rem;
	text-align: center;
}

#page-header > h2 {
	color: #666;
	font-size: 1.9rem;
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

#page-body {
	font-size: 1.5rem;
	line-height: 3rem;
	margin: 0 auto;
	max-width: 70rem;
	padding: 0 {{page.margin}};
    text-align: justify;
    text-justify: newspaper;
}

#page-body h1 {
	font-size: 2.5rem;
	text-align: center;
}

pre {
	color: #fdce93;
	background-color: #3f3f3f;
	border-left: 1rem solid {{page.accent-color}};
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	font-size: 1.4rem;
	line-height: 2rem;
	margin: 3rem 0;
	padding: 1rem;
}

#page-footer {
	font-size: 1.4rem;
	margin: 10rem auto;
	text-align: center;
	padding-bottom: 6rem;
}

#page-footer figure { text-align: center; }

#page-footer figure figcaption { margin-top: -{{page.margin}}; }

#page-footer figure figcaption a[rel="license"] > img {
        box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
        display: block;
        margin: 2rem auto 0;
}

#avatar {
	border: .1rem solid {{page.border-color}};
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: -7rem;
}

#avatar img {
	border: .4rem solid {{page.border-color2}};
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

#page-footer a:link, #page-footer a:visited, #page-footer a:active {
	color: {{page.text-color}};
	text-decoration: none;
	font-weight: bold;
}
