/* layout.css */
html {
	/* make 1em or 1rem be 10px */
	font-size: 62.5%
}

body {
	background-color: {{page.background-color}};
	color: #000;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif,
		"Helvetica Neue", HelveticaNeue, Arial, sans-serif;
	font-size: 1.4rem;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

header {
	padding-top: 4rem;
}

#site-title {
	font-size: 4.2rem;
	text-align: center;
}

#site-subtitle {
	color: #666;
	font-size: 1.9rem;
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

#avatar {
	background: {{page.background-color-secondary}};
	background: linear-gradient(to bottom, #1d1d1d 0%,{{page.background-color-secondary}} 41%);
	height: 8rem;
	margin-top: 12rem;
}

#avatar img {
	border: 4px solid {{page.background-color}};
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	position: relative;
	top: -9rem;
}

