		</section>

		<footer id=page-footer>
			<figure class=page-ruler>
				<div id=avatar >
					<img  src=images/avatar.png?cb={{site.cache-buster}} width=128 height=128 />
				</div>
				<figcaption>
					<span property=dct:title xmlns:dct=http://purl.org/dc/terms/>{{site.title}}</span>
					by
					<strong><a href={{site.author.google-profile}}
						rel=cc:attributionURL
						property=cc:attributionName
						xmlns:cc=http://creativecommons.org/ns#>
						{{site.author.name}}
					</a></strong>.
					 <a href=http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US
                                rel=license>
                                <img alt="Creative Commons License"
                                        src=images/cc-nc-sa-license.png?cb={{site.cache-buster}}
                                        width=88 height=31 />
                        </a>
				</figcaption>
			</figure>
		</footer>
	</body>
</html>
