<!DOCTYPE html>
<html>
  <head>
	<meta charset=utf-8>
	<meta http-equiv=X-UA-Compatible content="chrome=1">
	<meta name=viewport content="width=device-width, initial-scale=1.0">
	<meta name=HandheldFriendly content=true/>
	<meta name=MobileOptimized content=width/>
	<link rel=stylesheet type=text/css
	      href="style.css?cb={{ site.cache-buster }}"
	      media=screen>
	<!--[if lt IE 9]>
	<script src=http://html5shiv.googlecode.com/svn/trunk/html5.js></script>
	<![endif]-->
	<title>{{ site.title | xml_escape }} by {{ site.author.name | xml_escape}}</title>
  </head>

  <body>
	<header id=header
		class="centered content-centered">
	  <h1>{{ site.title | xml_escape }}</h1>
	  <h2>{{ site.subtitle | xml_escape }}</h2>
	  <nav class=page-ruler></nav>
	</header>

	<section id=content class="centered page-content">
