<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<meta http-equiv=X-UA-Compatible content=chrome=1 />
		<link rel=stylesheet type=text/css
			href=style.css?cb={{site.cache-buster}}
			media=screen />
		<!--[if lt IE 9]>
			<script src=http://html5shiv.googlecode.com/svn/trunk/html5.js></script>
		<![endif]-->
		<title>{{site.title}} by {{site.author.name}}</title>
	</head>

	<body>
		<header id=page-header>
			<h1>{{site.title}}</h1>
			<h2>{{site.subtitle}}</h2>
			<nav class=page-ruler></nav>
		</header>

		<section id=page-body>
