<!DOCTYPE html>
<html>
  <head>
	<meta charset=utf-8>
	<meta http-equiv=X-UA-Compatible content="chrome=1">
	<meta name=viewport content="width=device-width, initial-scale=1.0">
	<meta name=HandheldFriendly content=true>
	<meta name=MobileOptimized content=width>
	<link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type=image/x-icon>
	<link rel=icon href="{{ site.url }}/images/animated_favicon.ico" type=image/x-icon>
	<link rel=alternate type=application/atom+xml title="Blog feed" href="{% if site.feedburner %}http://feeds.feedburner.com/{{ site.feedburner }}{% else %}{{ site.url }}/atom.xml{% endif %}">
	<link rel=stylesheet type=text/css
	      href="{{ site.url }}/style.css?cb={{ site.cache_buster }}"
	      media=screen>
	<!--[if lt IE 9]>
	<script src=http://html5shiv.googlecode.com/svn/trunk/html5.js></script>
	<![endif]-->
	<title>
		{% if include.title %}{{ include.title }}{% else %}{{ site.title | xml_escape }}{% endif %}
		by {{ site.author.name | xml_escape}}
	</title>
	{% include views/google_analytics.html %}
  </head>

  <body{% if include.body_class %} class="{{ include.body_class }}"{% endif %}>
	<header id=header
		class="centered content-centered">
	  <h1>{{ site.title | xml_escape }}</h1>
	  <h2>{{ site.subtitle | xml_escape }}</h2>
	  <nav class=page-ruler></nav>
	</header>

	<section id=content class="centered page-content">
